<div class="first__blocks">
  <div style="background-color:rgb(84,185,213)">
    <h2>1349</h2>
    <p>NEW FEEDBACKS</p>
  </div>
  <div style="background-color:rgb(151,193,91)">
    <h2>$12,5 M</h2>
    <p>TOTAL PROFIT</p>
  </div>
  <div style="background-color:rgb(66,136,202)">
    <h2>325</h2>
    <p>NEW ORDERS</p>
  </div>
  <div style="background-color:rgb(158,107,215)">
    <h2>+56%</h2>
    <p>BRAND POPULARITY</p>
  </div>
  <div style="background-color:rgb(246,201,68)">
    <h2>$12,500</h2>
    <p>REVENUE 60% OF THE GOAL</p>
  </div>
</div>
